* {
  font-family: 'Open Sans', sans-serif;
}

.h-font {
  font-family: 'Merienda', cursive;
}

body {
  background-image: url("../images/background/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Rest of your CSS remains the same */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.room {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .room {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 576px) {
  .room {
    width: 100%; 
    margin-right: 0;
  }
}

.room:nth-child(3n+1) {
  margin-right: 0;
}

.room img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.fiyat {
  font-weight: bold;
}

.description {
  display: block;
  clear: both;
}

