*{
    font-family: 'Open Sans', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: auto;
    height: auto;

}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}

.section{
    margin-top:16px!important;
    margin-bottom:16px!important
}
 
body{
    background-image: url("../images/background/background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

